body{
    background-color: darkslategray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    margin: auto;
    width: 90%;
    padding: 10px;
}

.innerPage{
    color:antiquewhite;
    margin-left: 5px ;
}
.innerPageCenter{
    color:antiquewhite;
    text-align: center;
}
.title{
    color:antiquewhite;
    text-align: center;
}

.barStyle{
    background-color: gray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:dimgray;
}

li {
    float:left;
}

li a {
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.picture{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.homePicture{
    margin-top: 10px;
}

.leftPicture{
    float:left;
    margin: 10px;
}

.leftPictureTxt{
    color:antiquewhite;
    margin-right:50%
}
.rightPicture{
    float:right;
}
.stab{
    border-radius: 1px;
    background: red;
    position: absolute;
    width: 5px;
    height: 20px;
}