body{
    background-color: darkslategray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    margin: auto;
    width: 90%;
    padding: 10px;
}

.title{
    color:antiquewhite;
    text-align: center;
}
.barStyle{
    background-color: gray;
}